In [1]:
import pandas as pd
import openpyxl

In [2]:
file_path1 = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 3\project_1\data\raw\master_patient_data.xlsx"
master_patient = pd.read_excel(file_path1)

In [3]:
master_patient.head()

,information_date,recordtype,popid,national_id,date_of_birth,age_band,gender,chron_count,plan_type,member_number,...,enrollment_flag,unenrolment_flag,opt_out_flag,attribution_flag,exclusions_flag,rule__enrol_unerol,member_age,username,tariff_code,global_fee
0,45319,2,GEMS00000000000,9707260803086,35637,25 to 29,F,NaN,Emerald Value,0,...,Y,N,N,N,Y,N,26,NaN,989049,154.02
1,45319,2,GEMS00000015701,9109020586087,33483,30 to 34,F,NaN,Tanzanite One,157,...,Y,N,N,N,N,Y,32,NaN,989058,180.00
2,45319,2,GEMS00000021100,NaN,29016,40 to 44,M,2,Emerald Value,211,...,N,Y,N,Y,N,N,44,NaN,989077,114.47
3,45319,2,GEMS00000021105,EN020386,16960,70 to 74,F,1,Emerald Value,211,...,N,Y,N,Y,N,N,77,NaN,989132,162.93
4,45319,2,GEMS00000021503,NaN,17434,75 to 79,M,1,Emerald,215,...,N,N,N,Y,N,N,76,NaN,989136,159.76

In [4]:
master_patient.tail()

,information_date,recordtype,popid,national_id,date_of_birth,age_band,gender,chron_count,plan_type,member_number,...,enrollment_flag,unenrolment_flag,opt_out_flag,attribution_flag,exclusions_flag,rule__enrol_unerol,member_age,username,tariff_code,global_fee
135222,45319,2,GEMS76791275901,1204250433080,41024,10 to 14,F,NaN,Emerald,767912759,...,Y,N,N,N,N,Y,11,NaN,989026,114.61
135223,45319,2,GEMS79319587402,2312060827083,45266,Less than 1,F,NaN,Ruby,793195874,...,Y,N,N,N,N,Y,0,NaN,989003,0.00
135224,45319,2,GEMS82344748300,7611265601085,28089,45 to 49,M,NaN,Ruby,823447483,...,Y,N,N,N,N,Y,47,NaN,989085,120.37
135225,45319,2,GEMS83431707504,1802210592083,43152,5 to 9,F,NaN,Emerald,834317075,...,Y,N,N,N,N,Y,5,NaN,989020,128.69
135226,45319,2,GEMS84312751700,5204260750081,19110,70 to 74,F,NaN,Beryl,843127517,...,Y,N,N,N,N,Y,71,NaN,989121,94.64

In [5]:
file_path2 = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 3\project_1\data\raw\ppo_consortprov_240215_143000.xlsx"
provider = pd.read_excel(file_path2)

In [6]:
provider.head()

,sequenceNumber,recordType,ICC_Name,Provider_Name,Practice_number,Discipline,Start_Date,End_Date,Include in query
0,2,2,Pretoria North ICC,Dr JIL Van Niekerk,1568329,14,20190101,NaN,1
1,4,2,Pretoria North ICC,Dr Brink,670693,14,20190101,NaN,1
2,5,2,Pretoria North ICC,Dr Rudi Greyling,33952,14,20190101,NaN,1
3,6,2,Pretoria North ICC,Dr Angeliqe Coetzee,1489755,14,20190101,NaN,1
4,7,2,Pretoria North ICC,Dr La Cock,469351,14,20190101,NaN,1

In [7]:
master_patient.shape

(135227, 52)

In [8]:
master_patient.columns

Index(['information_date', 'recordtype', 'popid', 'national_id',
       'date_of_birth', 'age_band', 'gender', 'chron_count', 'plan_type',
       'member_number', 'dependent_number', 'member_name', 'enrollment_date',
       'unenrollment_date', 'tarrif_risk_cell', 'observation_score',
       'last_observation_date', 'encounter_concept_id',
       'observation_concept_id', 'major_segment', 'minor_segment',
       'epg_risk_score', 'risk_from_date', 'risk_to_date', 'summary_markdown',
       'last_admission_date', 'last_discharge_date', 'length_of_stay',
       'attributed_start_date', 'attributed_end_date',
       'attributed_cut_off_date', 'unenrollment_reason', 'opt_out_value',
       'info_type', 'practice_number', 'practice_name', 'discipline_code',
       'practice_enrollment_date', 'practice_unenrollment_date',
       'practice_active_flag', 'hash_delta', 'no_enrol_after_24_months_flag',
       'enrollment_flag', 'unenrolment_flag', 'opt_out_flag',
       'attribution_flag', 'exclusions_flag', 'rule__enrol_unerol',
       'member_age', 'username', 'tariff_code', 'global_fee'],
      dtype='object')

In [9]:
master_patient.isnull().sum()

information_date                      0
recordtype                            0
popid                                 0
national_id                      128059
date_of_birth                         0
age_band                             39
gender                                0
chron_count                        5662
plan_type                            52
member_number                         0
dependent_number                      0
member_name                      112519
enrollment_date                  112942
unenrollment_date                132205
tarrif_risk_cell                   5662
observation_score                134992
last_observation_date            134992
encounter_concept_id             134992
observation_concept_id           134992
major_segment                    128803
minor_segment                    128803
epg_risk_score                   128913
risk_from_date                   128803
risk_to_date                     128803
summary_markdown                 132171
last_admission_date              131917
last_discharge_date              131917
length_of_stay                   131917
attributed_start_date              5662
attributed_end_date                5662
attributed_cut_off_date            5662
unenrollment_reason              133148
opt_out_value                         0
info_type                             0
practice_number                    5362
practice_name                     55947
discipline_code                   55627
practice_enrollment_date          55627
practice_unenrollment_date       130470
practice_active_flag              55627
hash_delta                            0
no_enrol_after_24_months_flag         0
enrollment_flag                       0
unenrolment_flag                      0
opt_out_flag                          0
attribution_flag                      0
exclusions_flag                       0
rule__enrol_unerol                    0
member_age                            0
username                         135227
tariff_code                           0
global_fee                           99
dtype: int64

In [30]:
# select columns from master_patient to keep in the dataset

patient2 = master_patient[['popid', 'date_of_birth', 'age_band', 'gender', 'chron_count', 'plan_type',
       'enrollment_date', 'unenrollment_date', 'tarrif_risk_cell', 'major_segment', 'minor_segment',
       'epg_risk_score', 'last_admission_date','length_of_stay',
       'attributed_start_date', 'practice_number', 'enrollment_flag', 'unenrolment_flag', 
       'member_age', 'tariff_code', 'global_fee']]

patient2.shape

(135227, 21)

In [31]:
# merge patient2 with the provider file (so we can use the ICC column in the data analysis)

provider.rename(columns={col: col.replace(" ","_").lower() for col in provider.columns},inplace=True)
display(provider.columns)
merged_df = pd.merge(patient2, provider, on='practice_number', how='left')

Index(['sequencenumber', 'recordtype', 'icc_name', 'provider_name',
       'practice_number', 'discipline', 'start_date', 'end_date',
       'include_in_query'],
      dtype='object')

In [32]:
merged_df.shape

(135227, 29)

In [33]:
merged_df.columns

Index(['popid', 'date_of_birth', 'age_band', 'gender', 'chron_count',
       'plan_type', 'enrollment_date', 'unenrollment_date', 'tarrif_risk_cell',
       'major_segment', 'minor_segment', 'epg_risk_score',
       'last_admission_date', 'length_of_stay', 'attributed_start_date',
       'practice_number', 'enrollment_flag', 'unenrolment_flag', 'member_age',
       'tariff_code', 'global_fee', 'sequencenumber', 'recordtype', 'icc_name',
       'provider_name', 'discipline', 'start_date', 'end_date',
       'include_in_query'],
      dtype='object')

In [35]:
merged_df.isnull().sum()

popid                         0
date_of_birth                 0
age_band                     39
gender                        0
chron_count                5662
plan_type                    52
enrollment_date          112942
unenrollment_date        132205
tarrif_risk_cell           5662
major_segment            128803
minor_segment            128803
epg_risk_score           128913
last_admission_date      131917
length_of_stay           131917
attributed_start_date      5662
practice_number            5362
enrollment_flag               0
unenrolment_flag              0
member_age                    0
tariff_code                   0
global_fee                   99
sequencenumber            55627
recordtype                55627
icc_name                  55627
provider_name             55947
discipline                55627
start_date                55627
end_date                 129559
include_in_query          55627
dtype: int64

In [36]:
# Clean data

# Step 1: delete all nulls in "include_in_query"column - these patients belong to GPs who never joined the program

merged_df.dropna(subset=["include_in_query"],inplace=True)
display(merged_df.isnull().sum())
display(merged_df.shape)

popid                        0
date_of_birth                0
age_band                     7
gender                       0
chron_count                300
plan_type                    1
enrollment_date          62900
unenrollment_date        76805
tarrif_risk_cell           300
major_segment            73183
minor_segment            73183
epg_risk_score           73292
last_admission_date      76294
length_of_stay           76294
attributed_start_date      300
practice_number              0
enrollment_flag              0
unenrolment_flag             0
member_age                   0
tariff_code                  0
global_fee                  33
sequencenumber               0
recordtype                   0
icc_name                     0
provider_name              320
discipline                   0
start_date                   0
end_date                 73932
include_in_query             0
dtype: int64

(79600, 29)

In [37]:
# delete additional columns from provider file that aren't necessary

cols_to_drop = ['sequencenumber', 'recordtype', 'provider_name', 'discipline', 'start_date', 'end_date', 'include_in_query' ]

merged_df.drop(columns=cols_to_drop, inplace=True)
display(merged_df.isnull().sum())
display(merged_df.shape)

popid                        0
date_of_birth                0
age_band                     7
gender                       0
chron_count                300
plan_type                    1
enrollment_date          62900
unenrollment_date        76805
tarrif_risk_cell           300
major_segment            73183
minor_segment            73183
epg_risk_score           73292
last_admission_date      76294
length_of_stay           76294
attributed_start_date      300
practice_number              0
enrollment_flag              0
unenrolment_flag             0
member_age                   0
tariff_code                  0
global_fee                  33
icc_name                     0
dtype: int64

(79600, 22)

In [15]:
# data cleaning plan:

#1. delete rows with duplicate popids
    
#2. deal with null values:
    # chronic count: replace with 0
    # enrollment_date: replace with NA (these people haven't enrolled)
    # unenrollment date: as above
    # major_segment: replace with NA - even though lots of nulls still want to keep this info where available
    # minor_segment: as above
    # epg_risk_score: as above
    # risk_from_date: as above
    # risk_to_date: as above
    # summary_markdown: as above 
    # last_admission_date: as above
    # last_discharge_date: as above
    # length_of_stay: as above
    # unenrollment_reason: replace with NA (these people haven't unenrolled)
    # practice_unenrollment_date: replace with NA (these practices active)
    # global_fee: replace with 0
    
#3. further investigation:
    # age-bands
    # tariff risk cell
    
#4. data type fixing

In [38]:
#1. duplicate popids

merged_df.duplicated(subset=["popid"]).sum()

94

In [40]:
merged_df.drop_duplicates(subset=["popid"], inplace=True)
merged_df.shape

(79506, 22)

In [46]:
#2. deal with null values

merged_df.fillna({'chron_count': 0}, inplace=True)
merged_df.fillna({'plan_type': 'NA'}, inplace=True)
merged_df.fillna({'enrollment_date': 'NA'}, inplace=True)
merged_df.fillna({'unenrollment_date': 'NA'}, inplace=True)
merged_df.fillna({'major_segment': 'NA'}, inplace=True)
merged_df.fillna({'minor_segment': 0}, inplace=True)
merged_df.fillna({'epg_risk_score': 'NA'}, inplace=True)
merged_df.fillna({'last_admission_date': 'NA'}, inplace=True)
merged_df.fillna({'length_of_stay': 0}, inplace=True)
merged_df.fillna({'attributed_start_date': 'NA'}, inplace=True)
merged_df.fillna({'global_fee': 0}, inplace=True)

#merged_df.fillna({'age_band': 0}, inplace=True)
#merged_df.fillna({'tarrif_risk_cell': 0}, inplace=True)

In [47]:
display(merged_df.isnull().sum())

popid                      0
date_of_birth              0
age_band                   7
gender                     0
chron_count                0
plan_type                  0
enrollment_date            0
unenrollment_date          0
tarrif_risk_cell         300
major_segment              0
minor_segment              0
epg_risk_score             0
last_admission_date        0
length_of_stay             0
attributed_start_date      0
practice_number            0
enrollment_flag            0
unenrolment_flag           0
member_age                 0
tariff_code                0
global_fee                 0
icc_name                   0
dtype: int64

In [49]:
null_rows = merged_df[merged_df['tarrif_risk_cell'].isnull()]
print(null_rows)

                  popid  date_of_birth  age_band gender chron_count  \
0       GEMS00000000000          35637  25 to 29      F           0
228     GEMS00000279703          34893  25 to 29      M           0
283     GEMS00000355300          16680       NaN      M           0
313     GEMS00000415501          25320  50 to 54      M           0
372     GEMS00000534504          36728  20 to 24      M           0
...                 ...            ...       ...    ...         ...
135216  GEMS73130247501          30638  40 to 44      F           0
135218  GEMS73539666501          37826  20 to 24      F           0
135221  GEMS76517385610          33994  30 to 34      M           0
135222  GEMS76791275901          41024  10 to 14      F           0
135225  GEMS83431707504          43152    5 to 9      F           0

            plan_type enrollment_date unenrollment_date tarrif_risk_cell  \
0       Emerald Value         45099.0                NA              NaN
228           Emerald         43747.0           44118.0              NaN
283           Emerald         44348.0                NA              NaN
313              Onyx         45293.0                NA              NaN
372              Ruby         43973.0                NA              NaN
...               ...             ...               ...              ...
135216        Emerald         45124.0                NA              NaN
135218  Emerald Value         45087.0                NA              NaN
135221  Emerald Value         45223.0                NA              NaN
135222        Emerald         45167.0                NA              NaN
135225        Emerald         44994.0                NA              NaN

       major_segment  ...          last_admission_date length_of_stay  \
0                 NA  ...                           NA            0.0
228               NA  ...                           NA            0.0
283          At Risk  ...  2021-07-20 00:00:00.0000000           12.0
313               NA  ...                           NA            0.0
372               NA  ...                           NA            0.0
...              ...  ...                          ...            ...
135216            NA  ...                           NA            0.0
135218            NA  ...                           NA            0.0
135221            NA  ...                           NA            0.0
135222            NA  ...                           NA            0.0
135225            NA  ...                           NA            0.0

       attributed_start_date  practice_number enrollment_flag  \
0                         NA        1809385.0               Y
228                       NA        1568329.0               N
283                       NA         670693.0               Y
313                       NA         670693.0               Y
372                       NA          33952.0               Y
...                      ...              ...             ...
135216                    NA         670693.0               Y
135218                    NA         670693.0               Y
135221                    NA         670693.0               Y
135222                    NA         670693.0               Y
135225                    NA         670693.0               Y

        unenrolment_flag member_age tariff_code  global_fee  \
0                      N         26      989049      154.02
228                    Y         28      989056      227.86
283                    N         78      989133      109.70
313                    N         54      989094      185.21
372                    N         23      989048       88.92
...                  ...        ...         ...         ...
135216                 N         40      989074      203.89
135218                 N         20      989042      157.03
135221                 N         31      989061      122.35
135222                 N         11      989026      114.61
135225                 N          5      989020      128.69

                  icc_name
0       Pretoria North ICC
228     Pretoria North ICC
283     Pretoria North ICC
313     Pretoria North ICC
372     Pretoria North ICC
...                    ...
135216  Pretoria North ICC
135218  Pretoria North ICC
135221  Pretoria North ICC
135222  Pretoria North ICC
135225  Pretoria North ICC

[300 rows x 22 columns]

In [50]:
merged_df.dtypes

popid                     object
date_of_birth              int64
age_band                  object
gender                    object
chron_count               object
plan_type                 object
enrollment_date           object
unenrollment_date         object
tarrif_risk_cell          object
major_segment             object
minor_segment             object
epg_risk_score            object
last_admission_date       object
length_of_stay           float64
attributed_start_date     object
practice_number          float64
enrollment_flag           object
unenrolment_flag          object
member_age                 int64
tariff_code                int64
global_fee               float64
icc_name                  object
dtype: object

In [ ]:
# fix the following:

# dates - date of birth, enrollment date, unenrollment date, last admission date, attributed start date
# chronic count
# practice number - convert to int

In [56]:
# dates

import xlrd

# Assuming 'file_path' is the path to your Excel file
# Read the Excel file using xlrd
xlrd_df = pd.read_excel(file_path1, engine='xlrd')

# Convert integer dates to proper date format
xlrd_df['date_of_birth'] = pd.to_datetime(xlrd_df['date_of_birth'], unit='D')

# Display the DataFrame with proper date format
print(xlrd_df)

XLRDError: Excel xlsx file; not supported